<ion-view view-title="TLC CANNABIS EMPORIUM">
    <ion-content class="home">


        <div class="row">
            <div class="col col-33 col-offset-33">
                <img src="./img/tlcLogo.png" />
            </div>
        </div>

        <div class="padding">
           <div class="row" ng-repeat="rows in chunkedData">
               <div  class="col col-33" ng-repeat="menus in rows track by $index">
                   <button ng-click="menuClick('{{menus}}')"
                   class="button button-full button-positive">
                   {{menus.toUpperCase()}}
                 </button>
               </div>
             </div>
         </div>
    </ion-content>
</ion-view>
