<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive mybar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left" class="logo">
                <img src="./img/tlcLogo.png">
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <span class="search-label" style="margin-top:25px;margin-right: 10px;font-family: 'Oswald';font-size: 20px;">SEARCH</span>
            <input type="text" ng-model="searchVal" placeholder="Search Menu..." class="buttons item-input-wrapper serachbox" ng-keypress="keyPressed($event,searchVal)">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
