/* Empty. Add your own CSS if you like */

.serachbox {
    padding-right: 40px;
    padding-left: 15px !important;
    margin-top: 20px;
    background-color: #fff;
}
.mybar {
    height: 80px !important;
}
.mybar .left-buttons img {
    width: 60px;
    height: 60px;
    margin-top: -5px;
}
.mybar .title {
    top: 20px !important;
    left: 0 !important;
}
.mybar .buttons-right span {
    margin-right: 45px;
}
.ttcl-title {
    display: flex;
    margin-top: 20px !important;
    left: 20px;
}
.bar.bar-positive {
    background-color: #7AC043;
}
.button.button-positive {
    border-color: transparent;
    background-color: rgb(60, 95, 87);
    color: #fff;
}
.menu-name {
    font-size: 26px;
}
.menu-desc {
    font-size: 22px;
}
.testHello {
    position: relative;
    background-color: white;
    width: 100%;
    bottom: 0px;
}
.bar .title {
    font-family: 'Oswald';
    font-size: 32px;
    margin-top: -10px;
}
.back-button {
    margin-top: 15px;
    margin-left: 40px;
}
.home {
    top: 80px;
}
.home .padding {
    padding-left: 40px;
    padding-right: 40px;
}
.home img {
    width: 100%;
}
.home .button {
    font-family: 'Oswald';
    font-size: 20px;
}
.home .button-full {
    margin: 0;
    border-radius: 5px;
}
.category {
    top: 80px;
    background-image: url(../img/tlcLogo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.category .has-header {
    top: 0;
}
.category .bar {
    height: 65px;
}
.category .container {
    position: relative;
    padding-left: 45px;
    padding-right: 50px;
    padding-top: 25px;
}
.category header {
    background-color: #3C5F58;
}
.category .title {
    font-size: 32px;
    color: white;
    font-family: 'Oswald';
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;

}
.category .list {
    max-height: 433px;
}
.category .list .item {
    background: rgba(255, 255, 255, .5);
}
.category .menu-name {
    font-size: 32px;
    color: #3C5F58;
    font-family: 'Oswald';
    display: initial;
}
.category .price {
    font-size: 30px;
    color: #3C5F58;
    font-family: 'Oswald';
    display: initial;
}
.text-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.spinner svg {
  width: 64px;
  height: 64px;
  stroke: #FFF;
  fill: #FFF;
}
