<ion-view view-title="TLC CANNABIS EMPORIUM" class="category">
    <ion-content scroll="false">
        <div class="container">
            <header class="bar bar-header item-input-inset" name="cm-search-bar">

      <h1 class="title">{{titleValue}}</h1>
     <!-- <h1 class="title" ng-show="!valName">{{titleValue}}</h1> -->

            </header>
            <ion-scroll delegate-handle="main-list">
                <ion-list>
                    <ion-item ng-repeat="items in MenuItems.items | filter:search">
                        <div class="row">
                            <div class="col col-50 text-wrap">
                                <p class="menu-name">{{items.name}}</p>

                            </div>
                            <div class="col col-30 text-wrap" ng-repeat="unitPrice in items.pricing | filter:Search">
                                <div>
                                    <p class="price">${{unitPrice.Price}}
                                        <p>{{unitPrice.Unit}}</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="menu-desc">Grown By: {{items.description}} state sales will be added to all recreational sales*</p>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
