<ion-view view-title="TLC CANNABIS EMPORIUM">
    <ion-content class="home">
        <div class="row">
            <div class="col col-33 col-offset-33">
                <img src="./img/tlcLogo.png" />
            </div>
        </div>
        <div class="padding">
            <div class="row">
                <div class="col col-33">
                    <button  menu="Flower" ng-click="menuClick($event)"  class="button button-full button-positive">FLOWERS
                    </button>
                </div>
                <div class="col col-33">
                    <button menu="Concentrate" ng-click="menuClick($event)"  class="button button-full button-positive">CONCENTRATES
                    </button>
                </div>
                <div class="col col-33">
                    <button menu="Edible" ng-click="menuClick($event)"  class="button button-full button-positive">EDIBLES
                    </button>
                </div>
             </div>
             <div class="row">
               <div class="col col-33">
                 <button menu="PreRoll" menu="PreRoll" ng-click="menuClick($event)"  class="button button-full button-positive">PRE-ROLLES
                 </button>
                </div>
                <div class="col col-33">
                    <button  menu="Seeds" ng-click="menuClick($event)" class="button button-full button-positive">SEEDS
                    </button>
                </div>
                <div class="col col-33">
                    <button menu="Other" ng-click="menuClick($event)" class="button button-full button-positive">OTHER
                    </button>
                </div>
              </div>
              <div class="row">
                <div class="col col-33">
                  <button menu="Clone" ng-click="menuClick($event)" class="button button-full button-positive">CLONE
                  </button>
                </div>
              </div>
        </div>
    </ion-content>
</ion-view>
